@import "~vue-material/dist/vue-material.min.css";
@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
        primary: md-get-palette-color(teal, 500),
        accent: md-get-palette-color(amber, 500)
));

@include md-register-theme("default-dark", (
        primary: md-get-palette-color(teal, 500),
        accent: md-get-palette-color(amber, 500),
        theme: dark,
));

@import "~vue-material/dist/theme/all";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Boogaloo");

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.mw-basic-layout {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 10px 0;

  .mw-content {
    grid-column: 2;
  }
}

@media screen and (max-width: 640px) {
  .mw-basic-layout {
    grid-template-columns: 5% 90% 5%;
  }
}
